@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --accent: rgb(239, 56, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}
